<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .h1 {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Template example html2pdf-lambda</h1>
    <h2><%= name %></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et vehicula
      diam. Etiam blandit nunc in tortor rutrum iaculis. Nullam et turpis
      ligula. Nulla sollicitudin diam id ex varius maximus. Nam eget tellus
      sapien. Cras sit amet scelerisque felis. Integer ultricies nulla ut auctor
      porta. Quisque nibh justo, elementum vitae tristique at, fringilla vel
      elit.
      <br />
      Donec accumsan lacus et vestibulum feugiat. Proin quis dapibus nibh.
      Curabitur dictum odio id enim dictum, eu pulvinar enim accumsan. Ut
      lacinia a augue eget faucibus. Integer vestibulum felis quis tellus
      interdum blandit. Pellentesque justo lacus, aliquet quis feugiat et,
      posuere in nisi. Nullam posuere mauris sed arcu sollicitudin, eget
      ultrices urna ultricies. Nam congue ac est quis rhoncus.
      <br />
      Vivamus ornare nunc eget odio dictum, id maximus sapien mollis. Sed
      vehicula, elit sit amet tempus volutpat, velit risus accumsan purus, id
      tempor tellus lorem ac erat. Vestibulum id arcu fermentum, blandit neque
      at, vestibulum nulla. Sed cursus egestas aliquam. Donec mollis tortor eget
      lorem pretium lobortis.
    </p>
  </body>
</html>
